# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
electron-dist
release
temp-downloads
*.local

# Downloaded binaries
resources/bin/ffmpeg
resources/bin/ffprobe
resources/bin/yt-dlp
resources/bin/*.exe

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
